header,
main,
footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}

.btn:hover,
.btn-large:hover {
  background-color: #00bcd4;
}

#slide-out.side-nav i,
#slide-out.side-nav span {
  vertical-align: middle;
}

#slide-out.side-nav a {
  color: rgba(0, 0, 0, 0.87);
  padding-left: 5px;
}

#slide-out.side-nav a span {
  padding-left: 10px;
}

#slide-out.side-nav li {
  line-height: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#slide-out.side-nav .row {
  margin-bottom: 10px;
}